<h2>Exercicio</h2>

<form ng-submit="enviar()" ng-controller="ExercicioCtrl">

	<div>
		<label> Exercício: </label>
		<input type="text" ng-model="nomeexercicio">
	</div>
	
	<div>
		<label> Tipo de Exercício: </label>
		<input type="text" ng-model="tipo">
	</div>

	<div>
		<label> Tempo do Exercício: </label>
		<input type="text" ng-model="nota2">
	</div>

    <div>
		<label> Calorias do Exercício: </label>
		<input type="text" ng-model="calorias">
	</div>
	
	<div>
		<input type="submit"  value="Salvar">
	</div>
	
</form>