<div class="container text-center">
<h2>Exercicio</h2>
<br>
<form class="form-group" ng-submit="enviar()" ng-controller="ExercicioCtrl">

	<div>
		<label class="font-weight-bold"> Exercício: </label>
		<input class="form-control" id="nomeexercicio" type="text" ng-model="nomeexercicio">
	</div>
	
	<div>
		<label class="font-weight-bold"> Tipo de Exercício: </label>
		<input class="form-control" id="tipo" type="text" ng-model="tipo">
	</div>

	<div>
		<label class="font-weight-bold"> Tempo do Exercício: </label>
		<input class="form-control" id="tempo" type="text" ng-model="tempo">
	</div>

    <div>
		<label class="font-weight-bold"> Calorias do Exercício: </label>
		<input class="form-control" id="calorias" type="text" ng-model="calorias">
	</div>
	
	<div class="mt-5">
		<input class="btn-dark btn-block" type="submit"  value="Salvar" onclick="exercicio()">
	</div>
	
</form>
</div>