<h2>Cliente</h2>

<form ng-submit="enviar()" ng-controller="ClienteCtrl">

	<div>
		<label> Nome Cliente: </label>
		<input type="text" ng-model="nomecliente">
	</div>
	
	<div>
		<label> CPF: </label>
		<input type="text" ng-model="cpf">
	</div>

	<div>
		<label> E-mail: </label>
		<input type="email" ng-model="email">
	</div>

	<div>
		<label> Idade: </label>
		<input type="text" ng-model="idade">
	</div>

	<div>
		<label> Endereço: </label>
		<input type="text" ng-model="endereco">
	</div>

	<div>
		<label> UF: </label>
		<select name="uf" id="uf" ng-model="uf">
			<option value="selecionar" selected disabled> Selecione uma Opção </option>
			<optgroup label="Região Sul">
				<option value="SC"> Santa Catarina </option>
				<option value="PR"> Paraná </option>
				<option value="RS"> Rio Grande do Sul </option>
			</optgroup>
		</select>
	</div>
	
	<div>
		<button><input type="submit" value="Salvar"></button>
	</div>
	
</form>