<div id="centro" class="container-fluid">
<div class="row">
    <div class="col-4 offset-4">
        <a class="btn-dark btn-block text-center" href="#!novocliente"> Novo Cliente </a>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4">
            <a class="btn-dark btn-block text-center" href="#!novoexercicio"> Novo Exercício </a>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4">
        <a class="btn-dark btn-block text-center" href="#!calcimc"> Calculo IMC </a>
    </div>
</div>
</div>