<div class="container-fluid text-center" id="centro">
<h2>Cadastro Cliente</h2>
<br>
<form class="form-group" ng-submit="enviar()" ng-controller="ClienteCtrl">
	<div class="col-12 col-md-6 offset-md-3">
	<div>
		<label class="font-weight-bold"> Nome Cliente: </label>
		<input class="form-control" id="nomecliente" type="text" ng-model="nomecliente">
	</div>
	
	<div>
		<label class="font-weight-bold"> CPF: </label>
		<input class="form-control" id="cpf" type="text" ng-model="cpf">
	</div>

	<div>
		<label class="font-weight-bold"> E-mail: </label>
		<input class="form-control" id="email" type="text" ng-model="email">
	</div>

	<div>
		<label class="font-weight-bold"> Idade: </label>
		<input class="form-control" id="idade" type="text" ng-model="idade">
	</div>
	
	<div class="mt-5">
		<input class="btn-dark btn-block btn-lg" type="submit" value="Salvar" onclick="cliente()">
	</div>
</div>
</form>
</div>